/* Apply styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

/* Apply styles  to the header section */
header {
    background-color: rosybrown;
    color: white;
    text-align: center;
}

/* Apply these styles to headings in the header section */
header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 20px;
}

/* Apply styles to the profile image */
aside img {
    width: 400px;
    height: 250px;
}

/* Apply style to the list item links */
aside li a {
    font-weight: bold;
    color: dimgray;
}


/* Apply stytles to the footer section */
footer {
    background-color: darkslategray;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Apply styles to the links within the footer section */
footer a {
    color: white;
}