/* Apply styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    padding: 20px;
    margin: 0px;
}

/* Apply styles  to the header section */
header {
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 20px;
    
}

/* Apply these styles to headings in the header section */
header h1 {
    margin: 0;
    font-size: 40px;
}

header h2 {
    margin: 0;
    font-size: 20px;
}

/* Apply style to the section container */
section {
    padding: 20px;
}

/* Apply styles to the profile image */
aside img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

/* Apply style to the list item links */
aside li a {
    font-weight: bold;
    color: dimgray;
}

/* Apply style to the article section */
article {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

/* Apply stytles to the footer section */
footer {
    background-color: darkslategray;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 150px;
    margin-top: 20px;
}

/* Apply styles to the links within the footer section */
footer a {
    color: white;
}